@import "tailwindcss";


/*
|--------------------------------------------------------------------------
| Alpine JS x-cloak
|--------------------------------------------------------------------------
*/

[x-cloak] {
    display: none !important;
}


/*
|--------------------------------------------------------------------------
| Global Style
|--------------------------------------------------------------------------
*/

html {
    scroll-behavior: smooth;
}


body {

    font-family:
        'Inter',
        ui-sans-serif,
        system-ui,
        sans-serif;

    background-color: #ffffff;

}



/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {

    letter-spacing: -0.02em;

}



/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
*/

.container {

    max-width: 1280px;

    margin-left: auto;

    margin-right: auto;

}



/*
|--------------------------------------------------------------------------
| Image
|--------------------------------------------------------------------------
*/

img {

    user-select: none;

}



/*
|--------------------------------------------------------------------------
| Scrollbar
|--------------------------------------------------------------------------
*/

::-webkit-scrollbar {

    width: 10px;

}


::-webkit-scrollbar-track {

    background: #f1f5f9;

}


::-webkit-scrollbar-thumb {

    background: #1e3a8a;

    border-radius: 20px;

}



/*
|--------------------------------------------------------------------------
| Animation
|--------------------------------------------------------------------------
*/

.fade-enter {

    opacity: 0;

}


.fade-enter-active {

    transition: opacity .5s ease;

}


.fade-enter-to {

    opacity: 1;

}

